accelerate
albucore==0.0.16
albumentations==1.4.15
bitsandbytes
controlnet_aux==0.0.7
diffusers
einops
flatten_json
gradio
hf_transfer
huggingface_hub
invisible-watermark
k-diffusion
kornia
lpips
lycoris-lora==1.8.3
omegaconf
open_clip_torch
optimum-quanto==0.2.4
oyaml
peft
Pillow
pillow-heif
prodigyopt
pydantic
python-dotenv
python-slugify
pytorch_fid
pyyaml
safetensors
sentencepiece
setuptools<70
tensorboard
timm
toml
torch
torchaudio
torchvision
tqdm
transformers==4.49.0